    header {
        height: 100vh;
        padding-top: 7rem;
        overflow: hidden;
    }
    
    .header__container {
        text-align: center;
        height: 100%;
        position: relative;
    }
    /*============= CTA ==============*/
    
    .cta {
        margin-top: 2.5rem;
        display: flex;
        gap: 1.2rem;
        justify-content: center;
    }
    /*============= Header SOCIALS ==============*/
    
    .header__socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        position: absolute;
        left: 0;
        bottom: 3rem;
    }
    
    .header__socials::after {
        content: '';
        width: 1px;
        height: 2rem;
        background: var(--color-primary);
    }
    /*============= ME IMG ==============*/
    
    .me {
        background: linear-gradient(var(--color-primary), transparent);
        width: 22rem;
        height: 40rem;
        position: absolute;
        left: calc(50% - 11rem);
        margin-top: 4rem;
        border-radius: 12rem 12rem 0 0;
        overflow: hidden;
        padding: 5rem 1.5rem 1.5rem 1.5rem;
    }
    /*============= SCROLL DOWN ==============*/
    
    .scroll__down {
        position: absolute;
        right: -2.3rem;
        bottom: 5rem;
        transform: rotate(90deg);
        font-weight: 300;
        font-size: 1.05rem;
    }
    /* ================== MEDIA QUERIES (MAXIM WIDTH) ============= */
    
    @media screen and (max-width: 1024px) {
        header {
            padding-top: 2rem;
            height: 100vh;
        }
    }
    /* ================== MEDIA QUERIES (MEDIUM DEVICES) ============= */
    
    @media only screen and (max-width: 600px) {
        header {
            height: 100vh;
            padding-top: 2rem;
            font-size: 1.4rem;
            overflow: hidden;
        }
        .me {
            width: 20rem;
            left: calc(50% - 10rem);
            height: 40rem;
        }
        header .btn {
            font-size: 1.2rem;
        }
    }
    
    @media only screen and (max-width: 400px) {
        header {
            height: 100vh;
            padding-top: 2rem;
            font-size: 1.4rem;
            overflow: hidden;
        }
        .me {
            width: 17rem;
            height: 40rem;
            left: calc(50% - 8.5rem);
        }
        header .btn {
            font-size: 1.2rem;
        }
    }
    
    @media only screen and (max-width: 360px) {
        header {
            height: 100vh;
            padding-top: 2rem;
            font-size: 1.2rem;
            overflow: hidden;
        }
        .me {
            width: 13.4rem;
            height: 40rem;
        }
        header .btn {
            font-size: 1.2rem;
        }
    }